@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:wght@400;700&display=swap');



:root {
    --cor-destaque: #4FBF44;
    --cor-texto: #606060;
    --cor-degrade01: #bdce03;
    --cor-degrade02: #418301;
    --cor-menu-items: #808080;

    --fonte-padrao: Arial, Verdana, Helvetica, sans-serif;
    --fonte-conteudo: 'Montserrat', sans-serif;
    --fonte-menu: 'Bebas Neue', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 120px;
    border-bottom: 1px solid #E6E6E6;
}

header > img {
    width: 85px;
    margin-left: 80px;
}

header > nav {
    display: inline-block;
    margin: 0 auto;
}

header nav a {
    text-decoration: none;
    color: var(--cor-menu-items);
    font-family: var(--fonte-menu);
    font-size: 2em;
    margin-right: 100px;
}

main {
    font-family: var(--fonte-conteudo);
    margin: 0 auto;
}

section#introducao {
    display: flex;
    margin: 50px 100px;
}


#introducao div{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#introducao img {
    margin-right: 100px;
}

.about-ben {
    display: flex;
    flex-direction: column;
}

.about-ben h1 {
    font-size: 2.2em;
}

.about-ben h3 {
    font-size: 1.5em;
    font-style: italic;
    font-weight: normal;
    margin-bottom: 30px;
}

.about-ben h1, h3 {
    align-self: flex-start;
    color: var(--cor-destaque);
}

.about-ben p {
    font-size: 1.25em;
    text-align: justify;
    color: var(--cor-texto);
}

section#omnitrix-info {
    text-align: center;
    background-image: linear-gradient(to bottom, var(--cor-degrade01), var(--cor-degrade02));
    padding-top: 60px;
    padding-bottom: 30px;
}

#omnitrix-info h1 {
    font-size: 2.25em;
    color: white;
}

#omnitrix-info h2 {
    margin-top: 80px;
    margin-left: 150px;
    text-align: justify;
    font-size: 1.5em;
    color: white;
}

.about-omnitrix {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 30px 100px;
}

.about-omnitrix #omnitrix-img {
    width: 371px;
    margin-right: 70px;
}

.about-omnitrix p {
    font-size: 1.25em;
    text-align: justify;
    margin-bottom: 25px;
    color: white;
}

.about-omnitrix ul {
    list-style-position: inside;
    font-size: 1.25em;
    text-align: justify;
    margin-left: 50px;
    margin-right: 80px;
}

.about-omnitrix ul li {
    margin-bottom: 30px;
    color: white;
}