@charset "UTF-8";



:root {
    --cor-destaque: #4FBF44;
    --cor-texto: #606060;
    --cor-degrade01: #D1E111;
    --cor-degrade02: #418301;
    --cor-menu-items: #808080;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

